	<h1>{{ allItems.pageMetaData.moduleName | wordize | pluralize }}</h1>

	<div class="action-buttons pull-right" ng-hide="allItems.pageMetaData.schemaOptions.hideAddNew">
		<a class="btn btn-success btn-lg btn-wide"
		   ui-sref="app.genericPageNew({moduleName: allItems.pageMetaData.parentRoute})">
			<em class="fa fa-plus-circle"></em> Add a {{ allItems.pageMetaData.moduleName | wordize }}
		</a>
	</div>

	<table class="table table-bordered table-hover" st-pipe="st.loadSmartTableData" st-table="st.displayed">
		<thead>
			<tr>
				<th ng-repeat="column in dataSchema" st-sort="{{ column.name }}">{{ column.name }}</th>
			</tr>
			<tr>
				<th ng-repeat="column in dataSchema">
					<input class="form-control" ng-if="column.searchable" st-search="{{ column.field }}" placeholder="Search" />
				</th>
			</tr>
		</thead>
		<tbody ng-show="!st.isLoading">
			<tr ng-repeat="singleItem in st.displayed">
				<td ng-repeat="column in dataSchema">
					<span ng-if="column.field">
						{{ singleItem[column.field] }}
					</span>
					<span ng-if="!column.field">
						<a ui-sref="app.genericPageView({moduleName: allItems.pageMetaData.parentRoute, id: singleItem.id})"
						   class="btn btn-default"
						   ng-hide="column.options.hideView">View</a>
						<a ui-sref="app.genericPageEdit({moduleName: allItems.pageMetaData.parentRoute, id: singleItem.id})"
						   class="btn btn-default"
						   ng-hide="column.options.hideEdit">Edit</a>
					<a ng-really-message="Are you sure you want to DELETE this?"
					   ng-really-click="deleteItem(singleItem)"
					   ng-hide="column.options.hideDelete"
					   class="btn btn-default">Delete</a>
					</span>
				</td>
			</tr>
		</tbody>
		<tbody ng-show="st.isLoading">
			<tr>
				<td colspan="{{ dataSchema.length }}" class="text-center">Loading... <em class="fa fa-refresh fa-spin"></em></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="50" colspan="{{ dataSchema.length }}">
				</td>
			</tr>
		</tfoot>
	</table>


	<!-- Empty view -->
	<div class="empty-view clear" ng-show="allItems.length === 0">
		<div class="hero-image">
			<em class="fa fa-users"></em>
		</div>

		<h2>There are no items yet.</h2>

		<div ng-hide="allItems.pageMetaData.schemaOptions.hideAddNew">
			<h3>Let's get started.</h3>

			<div class="action-buttons">
				<a class="btn btn-success btn-lg btn-wide"
				   ui-sref="app.genericPageNew({moduleName: allItems.pageMetaData.parentRoute})">
					<em class="fa fa-plus-circle"></em> Add a {{ allItems.pageMetaData.moduleName | wordize }}
				</a>
			</div>
		</div>
	</div>