<div class="page-content">
	<h1>Dashboard</h1>
	<br/>
	<br/>

	<div class="row widget-container">
		<!-- Welcome Block -->
		<div class="col-md-6">
			<div class="widget-data widget-information widget-orange">
				<div class="headline">Welcome</div>
				<div class="contents">
					This is your dashboard. Please use the menu to the left to navigate.
				</div>
			</div>
		</div>

		<!-- Support Block -->
		<div class="col-md-6">
			<div class="widget-data widget-information widget-green">
				<div class="headline">Support</div>
				<div class="contents">
					<strong>Have questions or need help?</strong><br />
					<p>Call us on 1300 470 580 or info@elegantmedia.com.au</p>
				</div>
			</div>
		</div>
	</div>

</div>