$main-color: #8FE88F;

$internal-border-color: #eaeaea;
$box-border-shadow: 2px 2px 3px #ccc;

$brand-font-color: #2ecc71;
$brand-font-color-second: #8593a6;
$brand-font-color-third: #6b7c93;
$background-hover-color: #fdfdfd;

$paragraph-font: 'Open Sans', sans-serif;
$paragraph-font-size: 14px;

$dashboard-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary-green: $brand-font-color;
$internal-page-border: 1px solid $internal-border-color;