<div class="content-page-heading">
	<h1>Settings</h1>
</div>

<div bs-tabs class="tab-pane-container">

	<div bs-pane title="App Settings">
		<form name="settingsForm" class="form form-horizontal" ng-submit="updateSettings(settingsForm)">
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
					       name="first_name" id="first_name"
					       validator="required"
					       required-error-message="Please enter your first name"
					       ng-model="user.first_name">
				</div>
			</div>
		</form>
	</div>

	<div bs-pane title="My Account Details">
		<form name="userForm" class="form form-horizontal" ng-submit="updateUser(userForm)">
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
					       name="first_name" id="first_name"
					       validator="required"
					       required-error-message="Please enter your first name"
					       ng-model="user.first_name">
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
					       name="last_name"
					       id="last_name"
					       ng-model="user.last_name"
					       validator="required"
					       required-error-message="Please enter your last name" />
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" ng-model="user.email" disabled>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-success btn-lg btn-wide">Update Details</button>
				</div>
			</div>
		</form>
	</div>

	<div bs-pane title="Change Password">
		<form class="form form-horizontal" name="passwordForm" ng-submit="updateUser(passwordForm)">
			<div class="form-group">
				<label class="col-sm-2 control-label">Current Password</label>
				<div class="col-sm-10">
					<input type="password"
					       class="form-control"
					       name="current_password"
					       validator="required"
					       required-error-message="Enter your current password"
					       ng-model="user.current_password" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">New Password</label>
				<div class="col-sm-10">
					<input type="password"
					       class="form-control"
					       name="password"
					       validator="required"
					       required-error-message="Enter a new password with at least 5 characters"
					       ng-model="user.password" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Repeat New Password</label>
				<div class="col-sm-10">
					<input type="password"
					       class="form-control"
					       name="password_confirmation"
					       validator="required"
					       required-error-message="Confirm your password by entering it again."
					       ng-model="user.password_confirmation" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-success btn-lg btn-wide">Update Password</button>
				</div>
			</div>
		</form>
	</div>

</div>




