<div cg-busy="vacancyPromise">

	<h1>{{ allItems.pageMetaData.moduleName }}</h1>

	<div class="action-buttons">
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<label class="control-label col-sm-4">Filter Status</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="search.status">
							<option value="">All</option>
							<option ng-repeat="status in projectStatusList" ng-value="status.status">{{ status.status }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-8 text-right">
				<a class="btn btn-success btn-lg btn-wide"
				   ui-sref="app.projectsPageNew">
					<em class="fa fa-plus-circle"></em> Add a {{ allItems.pageMetaData.moduleName | singularize }}
				</a>
			</div>
		</div>
	</div>

	<table class="table table-bordered table-hover" st-pipe="st.loadSmartTableData" st-table="st.displayed">
		<thead>
		<tr>
			<th>ID</th>
			<th>Project Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Status</th>
			<th>Allocated to</th>
			<th>Reports</th>
			<th>Actions</th>
		</tr>
		<tr>
			<th></th>
			<th><input class="form-control" st-search="name" placeholder="Search" /></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody ng-show="!st.isLoading">
		<tr ng-repeat="project in st.displayed | filter:search">
			<td>{{ project.id }}</td>
			<td>
				<a ui-sref="app.projectsPageView({id: project.id})" ng-if="project.status != 'Draft'">{{ project.name }}</a>
				<a ui-sref="app.projectsPageEdit({id: project.id})" ng-if="project.status == 'Draft'">{{ project.name }}</a>
			</td>
			<td>{{ project.start_date | extractDate }}</td>
			<td>{{ project.end_date | extractDate }}</td>
			<td><span ng-job-status-label ng-model="project.status"></span></td>
			<td>
				<div ng-repeat="worker in project.workers">
					<a href="#section/workers/{{ worker.id }}/edit">{{ worker.full_name }}</a>
					<span data-title="Inactive Worker" bs-tooltip ng-if="worker.active == 0"><em class="fa fa-ban"></em></span>
				</div>
			</td>
			<td>
				<span class="label label-info" ng-if="project.report_count == 0">No Reports</span>
				<a ui-sref="app.projectsDailyReportsView({id: project.id})"
				   ng-if="project.report_count"
				   class="btn btn-default">View Reports <span class="label label-success">{{ project.report_count }}</span></a>
			</td>
			<td>
					<span>
						<a ui-sref="app.projectsPageView({id: project.id})" class="btn btn-default">View</a>
						<a ui-sref="app.projectsPageEdit({id: project.id})" class="btn btn-default">Edit</a>
						<a class="btn btn-default"
						   ng-if="project.status == 'Draft' || project.status == 'Due to Start'"
						   ng-really-message="Are you sure you want to DELETE this project? (This will delete this project permanently)"
						   ng-really-click="deleteItem(project)">Delete</a>
					</span>
			</td>
		</tr>
		</tbody>
		<tbody ng-show="st.isLoading">
		<tr>
			<td colspan="8" class="text-center">Loading ... </td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td class="text-center" st-pagination="" st-items-by-page="50" colspan="8">
			</td>
		</tr>
		</tfoot>
	</table>


	<!-- Empty view -->
	<div class="empty-view clear" ng-show="allItems.length === 0">
		<div class="hero-image">
			<em class="fa fa-users"></em>
		</div>

		<h2>There are no items yet.</h2>
		<h3>Let's get started.</h3>

		<div class="action-buttons">
			<a class="btn btn-success btn-lg btn-wide"
			   ui-sref="app.genericPageNew()">
				<em class="fa fa-plus-circle"></em> Add a {{ allItems.pageMetaData.moduleName | singularize }}
			</a>
		</div>
	</div>

</div>