<div class="nav-action-buttons">
	<button class="btn btn-default" action-go-back>&laquo; Back</button>
</div>

<h1>{{ model.name }}</h1>
<h2>Status: {{ model.status }}</h2>

<div class="data-form">
	<div class="row">
		<label class="col-sm-2 control-label">Allocated to</label>
		<div class="col-sm-10">
			<div ng-repeat="worker in model.workers">
				<a ui-sref="app.genericPageEdit({moduleName: 'workers', id: worker.id})" title="Edit" bs-tooltip>{{ worker.full_name + ' (ID: ' + worker.employee_id + ')' }}</a>
			</div>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label">Dates</label>
		<div class="col-sm-10">
			{{ model.start_date | extractDate }} to {{ model.end_date | extractDate }}
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label">Work Type</label>
		<div class="col-sm-10">
			{{ model.work_type }}
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label">Road Name</label>
		<div class="col-sm-10">
			{{ model.road.name }}
			<a ng-if="model.road.name" href="{{ mapDataUrl() }}" target="_blank" class="btn btn-default">View Map</a>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label">Work Line Items</label>
		<div class="col-sm-10">
			<div ng-repeat="lineItem in model.custom_destination_data">
				<span ng-repeat="fieldItem in lineItem" ng-if="fieldItem.data_value.length">
					{{ fieldItem.data_key }}: {{ fieldItem.data_value }}
				</span>
			</div>
		</div>
	</div>

	<div class="row" ng-repeat="field in model.custom_fields">
		<label class="col-sm-2 control-label">{{ field.custom_key }}</label>
		<div class="col-sm-10">
			{{ field.custom_value }}
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label">Checklists</label>
		<div class="col-sm-10">
			<div ng-repeat="task in model.tasks">
				{{ task.name }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default btn-wide btn-lg" action-go-back>&laquo; Back</button>
			<a ui-sref="app.projectsPageEdit({id: model.id})" ng-if="model.status == 'Draft'" class="btn btn-warning btn-wide btn-lg">Edit Project</a>
		</div>
	</div>
</div>